/*==========================

  Universal Styling

*==========================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #A5C4D4, #274690);
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
  }


h2 {
    font-size: 36px;
}

h3 {
    text-transform: uppercase;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    z-index: 3;
}

/*==========================

  Menu and Header Styling

*==========================*/

header {
    text-align: center;
    width: 100%;
    z-index: 99;
}

.logo-header {
  position: absolute;
  left: 15px;
  top: 5px;
  width: 120px;
}

.menu {
    margin: 0 auto;
    max-width: 75%;
}

.menu ul {
  list-style: none;
}

.menu > ul > li {
    display: inline-block;
    width: 20%;
    margin: 10px 5px;
    padding: 15px;
    position: relative;
    vertical-align: top;
    font-size: 36px;
    transition: .4s;
}

.menu ul li a {
  text-decoration: none;
}

.menu > ul > li > a:hover {
    background-color: black;
    color: white;
    transition: .4s;
}

/*====================

Footer Styling

======================*/

footer {
  background: #191308;
  color: white;
  padding: 80px;
  margin-top: 40px;
}

footer p {
  line-height: 30px;
}

footer a {
  color: white;
  text-decoration: none;
}

.logo-footer {
  position: absolute;
  right: 30px;
  width: 150px;
}

.social {
  display: inline-block;
  margin-top: 5px;
}

.socialicon {
  width: 40px;
}


/*==========================

  Homepage Styling - Hero

*==========================*/

.main-hero {
    background: url('../images/hero.jpg') left/cover no-repeat fixed;
    min-height: 100vh;
    position: relative;
    background-position: 0px 70px;
}

.homepage-text {
    color: white;
    position: absolute;
    top: 40%;
    left: 25%;
}

.homepage-text p {
  font-size: 28px;
}

/*==========================

  Homepage Styling - Summary

*==========================*/

.summary {
    min-height: 80vh;
    padding: 60px 0;
    position: relative;
    color: white;
}

.page-images {
    clear: both;
    padding-top: 75px;
    text-align: center;
}

.page-pic {
    width: 24%;
    display: inline-block;
    position: relative;
}

.page-pic h3 {
    position: absolute;
    color: white;
    width: 100%;
    padding: 10px;
}


/*==========================

  About Page Styling

*==========================*/

.about-hero {
    background: url('../images/abouthero.jpg') left no-repeat fixed;
    min-height: 100vh;
    position: relative;
    background-position: -50px -50px;
}

.about-text {
    color: white;
    position: absolute;
    top: 30%;
    right: 10%;
    max-width: 35%;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.experience {
    min-height: 80vh;
    padding: 60px 0;
}

.experiencetext {
    color: white;
}

.job {
    width: 45%;
    display: inline-block;
    padding: 5% 0 0% 15%;
}

.job h3 {
    color: white;
    padding: 10px;
}

.job h4 {
    color: white;
    padding-left: 10px;
}

.job p {
    color: white;
    padding: 10px;
}

.job li {
    color: white;
    padding: 0 0 5px 10px;
}

.hobbies {
    min-height: 80vh;
    padding: 50px 0;
}

.hobbytext {
    color: white;
}

.hobby-images {
    clear: both;
    padding-top: 75px;
    padding-bottom: 10px;
    text-align: center;
}


/*==========================

  Portfolio Styling

*==========================*/

.writing, .design, .webdesign {
    min-height: 80vh;
    padding: 60px 0;
    position: relative;
}


.portfolio-images {
    clear: both;
    padding-top: 75px;
    text-align: center;
}

.portfolio-pic {
    width: 30%;
    display: inline-block;
    position: relative;
    padding: 0px 10px;
}

.portfolio-pic p {
    position: absolute;
    color: white;
    width: 100%;
    padding: 10px;
}


/*==========================

  Contact Form Styling

*==========================*/

.formparagraph, .formtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 550px;
  padding: 5px;
}

form {
  background: #274690;
  padding: 40px;
  max-width: 550px;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
}

.label_input_wrap {
  display: block;
}

.submit input {
  padding: 20px;
  color: white;
  font-size: 30px;
  background-color: #d55672;
  margin-top: 10px;
}

.submit input:hover {
  color: black;
  font-weight: bold;
}

.field {
  margin-bottom: 15px;
}

.field::first-letter {
  font-size: 30px;
}

input,
textarea {
  padding: 10px;
}
